@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Open Sans', serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.rainbow {
    background: linear-gradient(to right, #17618f, #da3700);
    background-size: 1800% 1800%;
    transition: background-position 0.5s ease;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 4.5rem;
    color: white;
    margin: 5px;
}

.emoji {
    height: 8rem;
    width: 8rem;
    position: absolute;
    opacity: 0;
    transition: 0.5s ease;
}

.emoji.generated {
    animation: 2s move linear;
    animation-fill-mode: forwards;
}

@keyframes move {
    to {
        top: 100%;
    }
}

.top-panel {
    position: fixed;
    z-index: 99999;
    height: 100%;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}

#info_other {
    font-size: 3rem;
}